<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Imisanzu</title>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
  <div class="card p-4">
    <h2 class="text-center mb-4">Create Imisanzu</h2>

    <!-- Imisanzu Form -->
    <form th:action="@{/newImisanzu}" method="post" th:object="${imisanzu}">

      <div class="form-group">
        <label for="amount">Amount:</label>
        <input type="number" class="form-control" id="amount" name="amount" th:field="*{amount}" required>
      </div>

      <div class="form-group">
        <label for="imisanzuDate">Imisanzu Date:</label>
        <input type="date" class="form-control" id="imisanzuDate" name="imisanzuDate" th:field="*{imisanzuDate}" required>
      </div>

      <div class="form-group">
        <label for="motari">Select Motari:</label>
        <select id="motari" name="motari" class="form-control" th:field="*{motari}">
          <option th:each="motari : ${motaris}" th:value="${motari.motariId}" th:text="${motari.firstName + ' ' + motari.lastName}"></option>
        </select>
      </div>

      <!-- Save Imisanzu Button -->
      <button type="submit" class="btn btn-primary btn-block">Save Imisanzu</button>
    </form>

    <!-- Back to List Button -->
    <a class="btn btn-secondary btn-block mt-3" th:href="@{/imisanzu}">Back to List</a>
  </div>
</div>

<!-- Add Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
